capas/borde_rpi/node_red_data/flows.json
[
    {
        "id": "738ecc0fd85310c9",
        "type": "tab",
        "label": "Flujo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "cb84c4cc0e283524",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt_broker",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "ee8cf3e076d4ce28",
        "type": "MySQLdatabase",
        "name": "",
        "host": "${DB_HOST}",
        "port": "3306",
        "db": "sistema_avicola",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "f132b14b880fb640",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": 8086,
        "protocol": "http",
        "database": "database",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://influxdb_telemetria:8086",
        "timeout": 10,
        "rejectUnauthorized": true
    },
    {
        "id": "150089a35346cce4",
        "type": "mqtt in",
        "z": "738ecc0fd85310c9",
        "name": "",
        "topic": "granja/telemetria/rfid",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "cb84c4cc0e283524",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 530,
        "y": 160,
        "wires": [
            [
                "987e55361428ae36"
            ]
        ]
    },
    {
        "id": "987e55361428ae36",
        "type": "switch",
        "z": "738ecc0fd85310c9",
        "name": "",
        "property": "payload.id_sensor",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 770,
        "y": 160,
        "wires": [
            [
                "90bbc7f6aa8801ab"
            ],
            [
                "bee8ed461783f0a7"
            ],
            [
                "52fdb3a61e9bd6ca"
            ],
            [
                "4fd145e7d9a9cf53"
            ]
        ]
    },
    {
        "id": "52fdb3a61e9bd6ca",
        "type": "change",
        "z": "738ecc0fd85310c9",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{   \"trigger\": \"active health menu\",   \"uid\": payload.uid }",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1100,
        "y": 180,
        "wires": [
            [
                "2cb96b1f474ee4ea",
                "476a9d67037c07cc"
            ]
        ]
    },
    {
        "id": "476a9d67037c07cc",
        "type": "udp out",
        "z": "738ecc0fd85310c9",
        "name": "Activar HMI",
        "addr": "host.docker.internal",
        "iface": "",
        "port": "5005",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 1330,
        "y": 180,
        "wires": []
    },
    {
        "id": "2cb96b1f474ee4ea",
        "type": "debug",
        "z": "738ecc0fd85310c9",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1320,
        "y": 220,
        "wires": []
    },
    {
        "id": "ff0ba3707986fee8",
        "type": "inject",
        "z": "738ecc0fd85310c9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"id_sensor\":3,\"uid\":\"778899AA\",\"timestamp\":1714950060000}",
        "payloadType": "str",
        "x": 530,
        "y": 100,
        "wires": [
            [
                "987e55361428ae36"
            ]
        ]
    },
    {
        "id": "033975c8f5ac9462",
        "type": "mqtt in",
        "z": "738ecc0fd85310c9",
        "name": "",
        "topic": "granja/hmi/registro",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "cb84c4cc0e283524",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 790,
        "y": 540,
        "wires": [
            [
                "c5870c7259040399"
            ]
        ]
    },
    {
        "id": "c5870c7259040399",
        "type": "template",
        "z": "738ecc0fd85310c9",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "INSERT INTO historial_salud (uid, estado, fecha) \nVALUES ('{{payload.uid}}', '{{payload.estado}}', '{{payload.timestamp}}');",
        "output": "str",
        "x": 980,
        "y": 540,
        "wires": [
            [
                "7da16094a90578c7"
            ]
        ]
    },
    {
        "id": "0a59ec8714a9c6c6",
        "type": "inject",
        "z": "738ecc0fd85310c9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "granja/hmi/registro",
        "payload": "{\"uid\":\"A1B2C3D4\",\"estado\":\"Saludable\",\"timestamp\":1714950000000}",
        "payloadType": "json",
        "x": 770,
        "y": 480,
        "wires": [
            [
                "c5870c7259040399"
            ]
        ]
    },
    {
        "id": "90bbc7f6aa8801ab",
        "type": "mqtt out",
        "z": "738ecc0fd85310c9",
        "name": "",
        "topic": "granja/telemetria/comedorA",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "cb84c4cc0e283524",
        "x": 1120,
        "y": 40,
        "wires": []
    },
    {
        "id": "bee8ed461783f0a7",
        "type": "mqtt out",
        "z": "738ecc0fd85310c9",
        "name": "",
        "topic": "granja/telemetria/comedorB",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "cb84c4cc0e283524",
        "x": 1140,
        "y": 100,
        "wires": []
    },
    {
        "id": "4fd145e7d9a9cf53",
        "type": "debug",
        "z": "738ecc0fd85310c9",
        "name": "ID no Reconocido",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 240,
        "wires": []
    },
    {
        "id": "b1d7ba14e297870e",
        "type": "udp in",
        "z": "738ecc0fd85310c9",
        "name": "Entradas Botones Físicos",
        "iface": "",
        "port": "5006",
        "ipv": "udp4",
        "multicast": "false",
        "group": "",
        "datatype": "utf8",
        "x": 510,
        "y": 560,
        "wires": [
            [
                "01a16cedcb94cc84"
            ]
        ]
    },
    {
        "id": "03b01911563d3cc1",
        "type": "inject",
        "z": "738ecc0fd85310c9",
        "name": "Modo Postura",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 550,
        "y": 600,
        "wires": [
            [
                "01a16cedcb94cc84"
            ]
        ]
    },
    {
        "id": "b618a5ba69d63e8c",
        "type": "inject",
        "z": "738ecc0fd85310c9",
        "name": "Modo Descanso",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "2",
        "payloadType": "num",
        "x": 540,
        "y": 640,
        "wires": [
            [
                "01a16cedcb94cc84"
            ]
        ]
    },
    {
        "id": "3d4bfef55c31f77f",
        "type": "inject",
        "z": "738ecc0fd85310c9",
        "name": "Modo Mantenimiento",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "3",
        "payloadType": "num",
        "x": 520,
        "y": 680,
        "wires": [
            [
                "01a16cedcb94cc84"
            ]
        ]
    },
    {
        "id": "01a16cedcb94cc84",
        "type": "function",
        "z": "738ecc0fd85310c9",
        "name": "Validador",
        "func": "// Convertimos el mensaje entrante a número\nlet seleccion = parseInt(msg.payload);\n\n// Validamos que sea un patrón permitido (1, 2 o 3)\nif (seleccion >= 1 && seleccion <= 3) {\n    msg.payload = { \"patron\": seleccion };\n    return msg;\n}\n// Si no es válido, descartamos el mensaje\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 620,
        "wires": [
            [
                "a305fc22421682bf",
                "bc02d8e7972b483f"
            ]
        ]
    },
    {
        "id": "a305fc22421682bf",
        "type": "mqtt out",
        "z": "738ecc0fd85310c9",
        "name": "",
        "topic": "granja/control/iluminacion",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "cb84c4cc0e283524",
        "x": 990,
        "y": 620,
        "wires": []
    },
    {
        "id": "bc02d8e7972b483f",
        "type": "debug",
        "z": "738ecc0fd85310c9",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 680,
        "wires": []
    },
    {
        "id": "461c90510df8e65b",
        "type": "mqtt in",
        "z": "738ecc0fd85310c9",
        "name": "",
        "topic": "granja/telemetria/comedorA",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "cb84c4cc0e283524",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 520,
        "y": 340,
        "wires": [
            [
                "fc1727d073b6e4a9"
            ]
        ]
    },
    {
        "id": "111384a90924426f",
        "type": "mqtt in",
        "z": "738ecc0fd85310c9",
        "name": "",
        "topic": "granja/telemetria/comedorB",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "cb84c4cc0e283524",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 520,
        "y": 380,
        "wires": [
            [
                "fc1727d073b6e4a9"
            ]
        ]
    },
    {
        "id": "fc1727d073b6e4a9",
        "type": "json",
        "z": "738ecc0fd85310c9",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 750,
        "y": 360,
        "wires": [
            [
                "d0d927ca3d92e94b"
            ]
        ]
    },
    {
        "id": "d0d927ca3d92e94b",
        "type": "function",
        "z": "738ecc0fd85310c9",
        "name": "function 1",
        "func": "// El timestamp viene en milisegundos, InfluxDB lo acepta bien así\nmsg.payload = [\n    {\n        // Campos (Valores numéricos o datos que quieres medir)\n        id_sensor: msg.payload.id_sensor,\n        uid: msg.payload.uid\n    }\n];\n\n// Asignamos el timestamp original del mensaje para que Influx use ese y no el actual\nmsg.timestamp = msg.payload.timestamp;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 360,
        "wires": [
            [
                "923e8010c44d5211",
                "e933f1797b45c2a6"
            ]
        ]
    },
    {
        "id": "e933f1797b45c2a6",
        "type": "debug",
        "z": "738ecc0fd85310c9",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1140,
        "y": 440,
        "wires": []
    },
    {
        "id": "7da16094a90578c7",
        "type": "mysql",
        "z": "738ecc0fd85310c9",
        "mydb": "ee8cf3e076d4ce28",
        "name": "",
        "x": 1240,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "923e8010c44d5211",
        "type": "influxdb out",
        "z": "738ecc0fd85310c9",
        "influxdb": "f132b14b880fb640",
        "name": "",
        "measurement": "intento_tres",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "granja_iot",
        "bucket": "sensor_data",
        "x": 1220,
        "y": 360,
        "wires": []
    }
]